
.swiper-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%!important;
    max-height: 100vh;
    text-align: center;
    overflow: hidden;
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: -1 !important;
    box-shadow: 0 1px 2px rgba(150,150,150,.7);
}