<div id="content" class="valine-content">
  
  <article class="post-item post-301 page type-page status-publish has-post-thumbnail hentry">
    <p style="font-size: 13px">
      <% if (theme.valine && post.comments) { %>
        <div id="vcomments"></div>
        <script>
          window.onload = function(){
            if(window.location.pathname!='/shuoshuo/')
            {
              var valine = new Valine();
              valine.init({
                el: '#vcomments',
                appId: "<%= theme.valine.appId %>",
                appKey: "<%= theme.valine.appKey %>",
                enableQQ: "<%= theme.valine.enableQQ %>",
                path: window.location.pathname,
                placeholder: "<%= theme.valine.placeholder %>",
              })
            }
          }
        </script>
        <% } %>
  </article>
</div>

