<div id="content" class="valine-content">
  
  <article class="post-item post-301 page type-page status-publish has-post-thumbnail hentry">
    <p style="font-size: 13px">
      <% if (theme.valine && post.comments) { %>
        <div id="vcomments"></div>
        <script>
          window.onload = function(){
              var valine = new Valine();
              valine.init({
                el: '#vcomments',
                appId: "<%= theme.valine.appId %>",
                appKey: "<%= theme.valine.appKey %>",
                enableQQ: "<%= theme.valine.enableQQ %>",
                path: window.location.pathname,
                placeholder: "<%= theme.valine.placeholder %>",
              })
              //邮箱审核机制
              document.body.addEventListener('click', function(e) {
              if (e.target.classList.contains('vsubmit')) {
                  const email = document.querySelector('input[type=email]');
                  const nick = document.querySelector('input[name=nick]');
                  const reg = /^[A-Za-z0-9\u4e00-\u9fa5]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
                  if (!email.value || !nick.value || !reg.test(email.value)) {
                      const str = `<div class="valert text-center"><div class="vtext">请填写正确的昵称和邮箱！</div></div>`;
                      const vmark = document.querySelector('.vmark');
                      vmark.innerHTML = str;
                      vmark.style.display = 'block';
                      setTimeout(function() {
                          vmark.style.display = 'none';
                          vmark.innerHTML = '';
                      }, 2500);
                  }
                }
            });
          }
        </script>
        <% } %>
  </article>
</div>

