name: Compile and Deploy to GitHub Page
on:
  push:
    branches:
      - backup
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - name: use Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v1
      with:
          node-version: ${{ matrix.node_version }}
    
    - name: Setup hexo
      env: 
          ACTIONS_DEPLOY_KEY: ${{ secrets.ACTIONS_DEPLOY_KEY }}
      run: |
        mkdir -p ~/.ssh/
        echo "$ACTIONS_DEPLOY_KEY" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan github.com >> ~/.ssh/known_hosts
        git config --global user.email "1179502349@qq.com"
        git config --global user.name "dummerchen"
        npm install hexo-cli -g
        npm install
    
    - name: Generate
      run: hexo clean && hexo g && hexo d
